body{
    width: 65%;
    background-color: white;
    margin: auto;
}
#navbar {
    background-color: #333;
    color: #fff;
    padding: 10px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#navbar ul {
    list-style: none;
    padding: 0;
    text-align: end;
}

#navbar li {
    display: inline;
    margin-right: 20px;
}

#navbar a {
    text-decoration: none;
    color: #fff;
}
#navbar-text{
    margin: 20px;
}
#navbar-text p{
    margin: 0;
    font-size: 24px;
    font-weight: bold;
}
#container{
    display: flex;
    gap: 5px;
    padding-top: 40px;
    padding-bottom: 60px;
}
#container #all_watches{
    display: flex;
    padding: 5px;
    width: 60%;
    background-color: aqua;
}
#card {
    height: 50vh;
    width: 50%;
    border: 3px solid blue;
}
#card img{
    width: 100%;
    height: 30vh;

}
#card img:hover{
    cursor: pointer;
}
#container #single_watch{
    width: 40%;
    background-color: aqua;
}
#single_watch img{
    width: 100%;
}
#deleteBtn{
    display: block;
    background-color: red;
    border: none;
    color: white;
}
#deleteBtn:hover{
    cursor: pointer;
}
#footer {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 10px;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
}
